<?xml version="1.0" encoding="utf-8"?>
<interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.chinatax.gov.cn/tirip/dataspec/interfaces.xsd" version="DZFP1.0">
    <globalInfo>
        <terminalCode>0</terminalCode>
        <appId>ZZS_PT_DZFP</appId>
        <version>2.0</version>
        <interfaceCode>ECXML.FPKJ.BC.E_INV_SYN</interfaceCode>
        <userName>11110101</userName>
        <passWord>5084796502NjRFMzc2RDQ1RTU4RkQxMg==</passWord>
        <taxpayerId>110101N1KRX0F08</taxpayerId>
        <authorizationCode>917612522B</authorizationCode>
        <requestCode>11110101</requestCode>
        <requestTime>2016-04-01 11:32:32 992</requestTime>
        <responseCode></responseCode>
        <dataExchangeId>1111010120160401100001140</dataExchangeId>
    </globalInfo>
    <returnStateInfo>
        <returnCode></returnCode>
        <returnMessage></returnMessage>
    </returnStateInfo>
    <Data>
        <dataDescription>
            <zipCode>0</zipCode>
            <encryptCode>1</encryptCode>
            <codeType>3DES</codeType>
        </dataDescription>
        <content>
            <REQUEST_FPKJXX class="REQUEST_FPKJXX">
                <FPKJXX_FPTXX class="FPKJXX_FPTXX">
                    <FPQQLSH></FPQQLSH>
                    <DSPTBM></DSPTBM>
                    <NSRSBH></NSRSBH>
                    <NSRMC></NSRMC>
                    <NSRDZDAH></NSRDZDAH>
                    <SWJG_DM></SWJG_DM>
                    <DKBZ>0</DKBZ>
                    <PYDM></PYDM>
                    <KPXM></KPXM>
                    <BMB_BBH></BMB_BBH>
                    <XHF_NSRSBH></XHF_NSRSBH>
                    <XHFMC></XHFMC>
                    <XHF_DZ></XHF_DZ>
                    <XHF_DH></XHF_DH>
                    <XHF_YHZH></XHF_YHZH>
                    <GHFMC></GHFMC>
                    <GHF_NSRSBH></GHF_NSRSBH>
                    <GHF_SF></GHF_SF>
                    <GHF_DZ></GHF_DZ>
                    <GHF_GDDH></GHF_GDDH>
                    <GHF_SJ></GHF_SJ>
                    <GHF_EMAIL></GHF_EMAIL>
                    <GHFQYLX></GHFQYLX>
                    <GHF_YHZH></GHF_YHZH>
                    <HY_DM></HY_DM>
                    <HY_MC></HY_MC>
                    <KPY></KPY>
                    <SKY></SKY>
                    <FHR></FHR>
                    <KPRQ></KPRQ>
                    <KPLX></KPLX>
                    <YFP_DM></YFP_DM>
                    <YFP_HM></YFP_HM>
                    <CZDM></CZDM>
                    <QD_BZ></QD_BZ>
                    <QDXMMC></QDXMMC>
                    <CHYY></CHYY>
                    <TSCHBZ></TSCHBZ>
                    <KPHJJE></KPHJJE>
                    <HJBHSJE></HJBHSJE>
                    <HJSE></HJSE>
                    <BZ></BZ>
                    <BYZD1></BYZD1>
                    <BYZD2></BYZD2>
                    <BYZD3></BYZD3>
                    <BYZD4></BYZD4>
                    <BYZD5></BYZD5>
                </FPKJXX_FPTXX>
                <FPKJXX_XMXXS class="FPKJXX_XMXX;" size="">
                    <FPKJXX_XMXX>
                        <XMMC></XMMC>
                        <XMDW></XMDW>
                        <GGXH></GGXH>
                        <XMSL></XMSL>
                        <HSBZ></HSBZ>
                        <FPHXZ></FPHXZ>
                        <XMDJ></XMDJ>
                        <SPBM></SPBM>
                        <ZXBM></ZXBM>
                        <YHZCBS></YHZCBS>
                        <LSLBS></LSLBS>
                        <ZZSTSGL></ZZSTSGL>
                        <XMJE></XMJE>
                        <SL></SL>
                        <SE></SE>
                        <BYZD1></BYZD1>
                        <BYZD2></BYZD2>
                        <BYZD3></BYZD3>
                        <BYZD4></BYZD4>
                        <BYZD5></BYZD5>
                    </FPKJXX_XMXX>
                </FPKJXX_XMXXS>
                <FPKJXX_DDXX class="FPKJXX_DDXX">
                    <DDH></DDH>
                    <THDH></THDH>
                    <DDDATE></DDDATE>
                </FPKJXX_DDXX>
                <FPKJXX_DDMXXXS class="FPKJXX_DDMXXX;" size="0">
                    <FPKJXX_DDMXXX>
                        <DDMC></DDMC>
                        <DW></DW>
                        <GGXH></GGXH>
                        <SL></SL>
                        <DJ></DJ>
                        <JE></JE>
                        <BYZD1></BYZD1>
                        <BYZD2></BYZD2>
                        <BYZD3></BYZD3>
                        <BYZD4></BYZD4>
                        <BYZD5></BYZD5>
                    </FPKJXX_DDMXXX>
                </FPKJXX_DDMXXXS>
                <FPKJXX_ZFXX class="FPKJXX_ZFXX">
                    <ZFFS></ZFFS>
                    <ZFLSH></ZFLSH>
                    <ZFPT></ZFPT>
                </FPKJXX_ZFXX>
                <FPKJXX_WLXX class="FPKJXX_WLXX">
                    <CYGS></CYGS>
                    <SHSJ></SHSJ>
                    <WLDH></WLDH>
                    <SHDZ></SHDZ>
                </FPKJXX_WLXX>
            </REQUEST_FPKJXX>
        </content>
    </Data>
</interface>
