<REQUEST_FPKJXX  class="REQUEST_FPKJXX">
    <FPKJXX_FPTXX  class="FPKJXX_FPTXX">
        <FPQQLSH>$INVOICE_DS.SO_ORDER_SERIA</FPQQLSH>
        <DSPTBM>$DSPTBM</DSPTBM>
        <NSRSBH>$INVOICE_DS.XHF_NSRSBH</NSRSBH>
        <NSRMC>$INVOICE_DS.XHF_NSRMC</NSRMC>
        <NSRDZDAH></NSRDZDAH>
        <SWJG_DM></SWJG_DM>
        <DKBZ>$INVOICE_DS.DKBZ</DKBZ>
        <PYDM></PYDM>
        <KPXM></KPXM>
        <BMB_BBH></BMB_BBH>
        <XHF_NSRSBH>$INVOICE_DS.XHF_NSRSBH</XHF_NSRSBH>
        <XHFMC>$INVOICE_DS.XHF_MC</XHFMC>
        <XHF_DZ>$INVOICE_DS.XHF_DZ</XHF_DZ>
        <XHF_DH>$INVOICE_DS.XHF_DHHM</XHF_DH>
        <XHF_YHZH>$INVOICE_DS.XHF_YHZH</XHF_YHZH>
        <GHFMC>$INVOICE_DS.GHF_MC</GHFMC>
        <GHF_NSRSBH>$INVOICE_DS.GHF_NSRSBH</GHF_NSRSBH>
        <GHF_SF></GHF_SF>
        <GHF_DZ>$INVOICE_DS.GHF_DZ</GHF_DZ>
        <GHF_GDDH></GHF_GDDH>
        <GHF_SJ></GHF_SJ>
        <GHF_EMAIL></GHF_EMAIL>
        <GHFQYLX>$INVOICE_DS.GHF_QYLX</GHFQYLX>
        <GHF_YHZH>$INVOICE_DS.GHF_YHZH</GHF_YHZH>
        <HY_DM></HY_DM>
        <HY_MC></HY_MC>
        <KPY>$INVOICE_DS.KPY</KPY>
        <SKY>$INVOICE_DS.SKY</SKY>
        <FHR>$INVOICE_DS.FHY</FHR>
        <KPRQ></KPRQ>
        <KPLX>1</KPLX>
        <YFP_DM></YFP_DM>
        <YFP_HM></YFP_HM>
        <CZDM>10</CZDM>
        <QD_BZ>0</QD_BZ>
        <QDXMMC></QDXMMC>
        <CHYY></CHYY>
        <TSCHBZ>0</TSCHBZ>
        <KPHJJE>10.00</KPHJJE>
        <HJBHSJE>10.00</HJBHSJE>
        <HJSE></HJSE>
        <BZ>$INVOICE_DS.NOTES</BZ>
        <BYZD1>$INVOICE_DS.EXT1</BYZD1>
        <BYZD2>$INVOICE_DS.EXT2</BYZD2>
        <BYZD3>$INVOICE_DS.EXT3</BYZD3>
        <BYZD4>$INVOICE_DS.EXT4</BYZD4>
        <BYZD5></BYZD5>
    </FPKJXX_FPTXX>
    <FPKJXX_XMXXS class="FPKJXX_XMXX;" size="$INVOICE_DS_DTL.length()">
        #foreach($DTL in $INVOICE_DS_DTL)
            <FPKJXX_XMXX>
                <XMMC>$DTL.ITEM_NAME</XMMC>
                <XMDW>$DTL.ITEM_UNIT</XMDW>
                <GGXH>$DTL.ITEM_SPEC</GGXH>
                <XMSL>$DTL.ITEM_NUMB</XMSL>
                <HSBZ>$DTL.HXBZ</HSBZ>
                <FPHXZ></FPHXZ>
                <XMDJ></XMDJ>
                <SPBM>$DTL.SPBM</SPBM>
                <ZXBM></ZXBM>
                <YHZCBS></YHZCBS>
                <LSLBS></LSLBS>
                <ZZSTSGL></ZZSTSGL>
                <XMJE>$DTL.ITEM_AMOUNT</XMJE>
                <SL>$DTL.ITEM_FAX_RATE</SL>
                <SE>$DTL.ITEM_FAX</SE>
                <BYZD1>$DTL.EXT1</BYZD1>
                <BYZD2>$DTL.EXT2</BYZD2>
                <BYZD3>$DTL.EXT3</BYZD3>
                <BYZD4>$DTL.EXT4</BYZD4>
                <BYZD5></BYZD5>
            </FPKJXX_XMXX>
        #end
    </FPKJXX_XMXXS>
    <FPKJXX_DDXX class="FPKJXX_DDXX">
        <DDH>93360020160401112052</DDH>
        <THDH></THDH>
        <DDDATE></DDDATE>
    </FPKJXX_DDXX>
    <FPKJXX_DDMXXXS class="FPKJXX_DDMXXX;" size="0">
        <FPKJXX_DDMXXX>
            <DDMC></DDMC>
            <DW></DW>
            <GGXH></GGXH>
            <SL></SL>
            <DJ></DJ>
            <JE></JE>
            <BYZD1></BYZD1>
            <BYZD2></BYZD2>
            <BYZD3></BYZD3>
            <BYZD4></BYZD4>
            <BYZD5></BYZD5>
        </FPKJXX_DDMXXX>
    </FPKJXX_DDMXXXS>
    <FPKJXX_ZFXX class="FPKJXX_ZFXX">
        <ZFFS></ZFFS>
        <ZFLSH></ZFLSH>
        <ZFPT></ZFPT>
    </FPKJXX_ZFXX>
    <FPKJXX_WLXX class="FPKJXX_WLXX">
        <CYGS></CYGS>
        <SHSJ></SHSJ>
        <WLDH></WLDH>
        <SHDZ></SHDZ>
    </FPKJXX_WLXX>
</REQUEST_FPKJXX>